<aside class="w-64 px-10 py-5 h-screen flex flex-col bg-bdarker-green fixed z-50">
	<a href="#" class="w-24 mx-auto mt-4 mb-9 aspect-square">
		<img src="{{ asset('assets/images/billy.png') }}" alt="logo" class="h-full rounded-lg">
	</a>
	<div class="h-full flex flex-col justify-between text-white/50">
		<nav>
			<ul class="flex flex-col gap-6">
				<li>
					<a href="{{ path('app_organizations') }}" class="flex gap-2 items-center transition-all duration-300 hover:text-white">
						<span class="mdi mdi-domain-switch text-2xl"></span>
						Mes organisations
					</a>
				</li>
				{% if checkPermissionOnOrganization(app.user, 'manage_org') %}
					<li>
						<a href="{{ path('app_organization_get_id', {organization: getCurrentOrganization().id}) }}" class="flex gap-2 items-center transition-all duration-300 hover:text-white">
							<span class="mdi mdi-domain text-2xl"></span>
							Gérer l'organisation
						</a>
					</li>
				{% endif %}
				{% if checkPermissionOnOrganization(app.user, 'manage_org') %}
					<li class="accordion hover:cursor-pointer">
						<div class="flex gap-2 items-center hover:text-white">
							<span class="mdi mdi-domain text-2xl"></span>
							Gérer les rôles
							<span class="mdi mdi-chevron-down"></span>
						</div>
						<ul class="content hidden mt-3 max-w-xs flex flex-col gap-2">
							<li>
								<a href="{{ path('app_role', {organization: getCurrentOrganization().id}) }}" class="px-9 py-2 flex gap-2 items-center rounded-lg hover:text-white hover:bg-blighter-green">
									Créer un rôle
								</a>
							</li>
							<li>
								<a href="{{ path('app_role_list', {organization: getCurrentOrganization().id}) }}" class="px-9 py-2 flex gap-2 items-center rounded-lg hover:text-white hover:bg-blighter-green">
									Liste des rôles
								</a>
							</li>
						</ul>
					</li>
				{% endif %}
				{% if checkPermissionOnOrganization(app.user, 'manage_service') %}
					<li>
						<a href="{{ path('app_services', {organization: getCurrentOrganization().id}) }}" class="flex gap-2 items-center transition-all duration-300 hover:text-white">
							<span class="mdi mdi-file text-2xl"></span>
							Gérer les services
						</a>
					</li>
				{% endif %}
				{% if checkPermissionOnOrganization(app.user, 'manage_user') %}
					<li>
						<a href="{{ path('organization_list_users', {organization: getCurrentOrganization().id}) }}" class="flex gap-2 items-center transition-all duration-300 hover:text-white">
							<span class="mdi mdi-account-multiple text-2xl"></span>
							Gérer les utilisateurs
						</a>
					</li>
				{% endif %}
				{% if checkPermissionOnOrganization(app.user, 'manage_client') %}
					<li>
						<a href="{{ path('app_clients', {organization: getCurrentOrganization().id}) }}" class="flex gap-2 items-center transition-all duration-300 hover:text-white">
							<span class="mdi mdi-account-tie text-2xl"></span>
							Gérer les clients
						</a>
					</li>
				{% endif %}

				{# <li>
					<a href="#" class="flex gap-2 items-center transition-all duration-300 hover:text-white">
						<span class="mdi mdi-account-multiple text-2xl"></span>
						Mes clients
					</a>
				{# <li class="accordion hover:cursor-pointer">
					<div class="flex gap-2 items-center transition-all duration-300 hover:text-white">
						<span class="mdi mdi-domain text-2xl"></span>
						Dropdown
						<span class="mdi mdi-chevron-down"></span>
					</div>
					<ul class="content hidden mt-3 flex flex-col gap-2">
						<li>
							<a href="#" class="px-9 py-2 flex gap-2 items-center rounded-lg transition-all duration-300 hover:text-white hover:bg-blighter-green">
								Lien 1
							</a>
						</li>
						<li>
							<a href="#" class="px-9 py-2 flex gap-2 items-center rounded-lg transition-all duration-300 hover:text-white hover:bg-blighter-green">
								Lien 2
							</a>
						</li>
					</ul>
				</li> #}
			</ul>
		</nav>
		<a href="{{ path('app_logout') }}" class="mx-auto flex gap-2 items-center transition-all duration-300 hover:text-white">
			<span class="mdi mdi-logout text-2xl"></span>
			Se déconnecter
		</a>
	</div>
</aside>

{% block javascripts %}
    <script src="{{ asset('assets/js/accordion.js') }}"></script>
{% endblock %}