<aside id="aside" class="fixed z-50 -left-64 md:left-0 w-64 px-10 py-5 h-screen flex flex-col bg-bdarker-green transition-all duration-300 ease-in">
	<span data-controller="burger" class="md:hidden mdi mdi-menu-close text-4xl text-center text-white cursor-pointer"></span>
	{% if getCurrentOrganization() %}
		{% set logoName = getCurrentOrganization().logoName %}
		<a href="{{ path('app_organization_get_id', { organization: getCurrentOrganization().id }) }}" class="w-24 mx-auto mt-4 mb-9 aspect-square">
			<img src="{{ logoName ? asset('storage/images/organizations/' ~ logoName) : asset('assets/images/default.jpg') }}" alt="logo" class="w-full h-full rounded-lg object-fill">
		</a>
		<h3 class="text-center text-white/50 mb-6">
			{{ getCurrentOrganization().name }}
		</h3>
	{% else %}
		<a href="{{ path('app_organizations') }}" class="w-24 mx-auto mt-4 mb-9 aspect-square">
			<img src="{{ asset('assets/images/billy.png') }}" alt="logo" class="w-full h-full rounded-lg object-fill">
		</a>
		<h3 class="text-center text-white/50 mb-6">
			Billy
		</h3>
	{% endif %}
	<div class="h-full flex flex-col gap-6 justify-between text-white/50 overflow-y-scroll no-scrollbar">
		<nav>
			<ul class="flex flex-col gap-6">
				<li>
					<a href="{{ path('app_organizations') }}" class="flex gap-2 items-center transition-all duration-300 hover:text-white">
						<span class="mdi mdi-domain-switch text-2xl"></span>
						Mes organisations
					</a>
				</li>
				{% if checkPermissionOnOrganization(app.user, 'manage_org') %}
					<li>
						<a href="{{ path('app_organization_get_id', { organization: getCurrentOrganization().id }) }}" class="flex gap-2 items-center transition-all duration-300 hover:text-white">
							<span class="mdi mdi-domain text-2xl"></span>
							Gérer l'organisation
						</a>
					</li>
				{% endif %}
				{% if checkPermissionOnOrganization(app.user, 'manage_org') %}
					<li>
						<a href="{{ path('app_roles', { organization: getCurrentOrganization().id }) }}" class="flex gap-2 items-center transition-all duration-300 hover:text-white">
							<span class="mdi mdi-cards text-2xl"></span>
							Gérer les rôles
						</a>
					</li>
				{% endif %}
				{% if checkPermissionOnOrganization(app.user, 'manage_service') %}
					<li>
						<a href="{{ path('app_services', { organization: getCurrentOrganization().id }) }}" class="flex gap-2 items-center transition-all duration-300 hover:text-white">
							<span class="mdi mdi-hammer-wrench text-2xl"></span>
							Gérer les services
						</a>
					</li>
				{% endif %}
				{% if checkPermissionOnOrganization(app.user, 'manage_client') %}
					<li>
						<a href="{{ path('app_clients', { organization: getCurrentOrganization().id }) }}" class="flex gap-2 items-center transition-all duration-300 hover:text-white">
							<span class="mdi mdi-account-tie text-2xl"></span>
							Gérer les clients
						</a>
					</li>
				{% endif %}
				{% if checkPermissionOnOrganization(app.user, 'manage_user') %}
					<li>
						<a href="{{ path('organization_list_users', { organization: getCurrentOrganization().id }) }}" class="flex gap-2 items-center transition-all duration-300 hover:text-white">
							<span class="mdi mdi-account text-2xl"></span>
							Gérer les utilisateurs
						</a>
					</li>
				{% endif %}
				{% if checkPermissionOnOrganization(app.user, 'read_devis') %}
					<li>
						<a href="{{ path('app_devis', { organization: getCurrentOrganization().id }) }}" class="flex gap-2 items-center transition-all duration-300 hover:text-white">
							<span class="mdi mdi-note-text text-2xl"></span>
							Devis
						</a>
					</li>
				{% endif %}
				{% if checkPermissionOnOrganization(app.user, 'read_factures') %}
					<li>
						<a href="{{ path('app_organization_bills', { organization: getCurrentOrganization().id }) }}" class="flex gap-2 items-center transition-all duration-300 hover:text-white">
							<span class="mdi mdi-note text-2xl"></span>
							Mes Factures
						</a>
					</li>
				{% endif %}
			</ul>
		</nav>
		<a href="{{ path('app_logout') }}" class="flex gap-2 items-center transition-all duration-300 hover:text-white">
			<span class="mdi mdi-logout text-2xl"></span>
			Se déconnecter
		</a>
	</div>
</aside>