{% use 'tailwind_2_layout.html.twig' %}

{%- block form_row -%}
	<div class="max-w-xs flex flex-col gap-2">
		{{ form_label(form) }}
		{{ form_widget(form) }}
		<div class="text-sm text-red-700">
			{{ form_errors(form) }}
		</div>
	</div>
{%- endblock form_row -%}

{%- block checkbox_row -%}
    {%- set widget_attr = {} -%}
    {%- if help is not empty -%}
        {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
    {%- endif -%}
    <div{% with {attr: row_attr} %}{{ block('attributes') }}{% endwith %}>
        {{- form_errors(form) -}}
        <div class="inline-flex items-center gap-1">
            {{- form_widget(form, widget_attr) -}}
            {{- form_label(form) -}}
        </div>
        {{- form_help(form) -}}
    </div>
{%- endblock checkbox_row -%}

{%- block widget_attributes -%}
	{%- set attr = attr|merge({ class: attr.class|default(widget_class|default('w-60 sm:w-80 p-2 rounded-lg outline-none border-2 focus:border-bgreen transition-all duration-300')) }) -%}
	{{- parent() -}}
{%- endblock widget_attributes -%}

{%- block submit_widget -%}
    {%- set type = type|default('submit') -%}
	{%- set attr = attr|merge({ class: (attr.class|default('') ~ ' px-6 py-2 text-white font-semibold bg-blighter-green border-blighter-green rounded-large hover:bg-bgreen hover:border-bgreen transition-all duration-300')|trim}) -%}
	{{- parent() -}}
{%- endblock submit_widget -%}