{% extends 'home.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
	<main class="min-h-[calc(100vh-400px)] flex justify-center items-center bg-bdark-white">
		<div class="my-10 p-10 flex gap-14 flex-col items-center rounded-lg bg-white">
			<div class="flex gap-6 flex-col items-center">
				<img src="{{ asset('assets/images/billy.png') }}" alt="logo" class="w-24 aspect-square rounded-lg">
				<h1 class="text-2xl font-bold">Connexion</h1>
			</div>
			<form action="{{ path('app_login') }}" method="post">
				<div class="w-fit mx-auto flex flex-col gap-2 items-center">
					<div class="max-w-xs flex flex-col gap-2">
						<label for="username">Email</label>
        				<input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control w-80 p-2 rounded-lg outline-none border-2 focus:border-bgreen" autocomplete="email" required autofocus>
					</div>
					<div class="max-w-xs flex flex-col gap-2">
						<label for="password">Password</label>
        				<input type="password" name="_password" id="password" class="form-control w-80 p-2 rounded-lg outline-none border-2 focus:border-bgreen" autocomplete="current-password" required>
					</div>
					<div class="mt-14">
						<button class="px-12 py-4 text-white text-lg font-semibold bg-blighter-green rounded-large hover:bg-bgreen ease-in-out duration-300" type="submit">Se connecter</button>
					</div>
				</div>
				 <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
			</form>
			<div class="flex gap-4 justify-center">
				<a href="{{ path('app_register') }}" class="text-sm text-blighter-green hover:text-bgreen">Pas encore inscrit ?</a>
				<a href="{{ path('app_forgot_password_request') }}" class="text-sm text-blighter-green hover:text-bgreen">Mot de passe oublié ?</a>
			</div>
		</div>
	</main>
{% endblock %}
