{% extends 'connected.html.twig' %}

{% block title %}Créer un rôle{% endblock %}

{% block body %}
<div class="px-10 py-5">
	<h1 class="text-3xl font-semibold">Créer un role</h1>
	
	{{ form_start(form) }}

		{{ form_row(form.name) }}
		{{ form_row(form.manage_org) }}
		{{ form_row(form.manage_user) }}
		{{ form_row(form.manage_client) }}
		{{ form_row(form.write_devis) }}
		{{ form_row(form.write_factures) }}
		{{ form_row(form.manage_service) }}

		{{ form_row(form.submit) }}

	{{ form_end(form) }}
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/accordion.js') }}"></script>
{% endblock %}