{% extends 'connected.html.twig' %}

{% block title %}Créer un rôle{% endblock %}

{% block body %}
	<h1 class="mb-14 text-3xl font-semibold dark:text-dark-white">Créer un rôle</h1>
	<div class="p-14 rounded-xl bg-white dark:bg-dark-light-black">
		{{ form_start(form) }}
			<div class="flex flex-col gap-10 items-start">
				{{ form_row(form.name) }}
				<div class="flex gap-8">
					<div class="flex flex-col gap-5">
						{{ form_row(form.manage_org) }}
						{{ form_row(form.manage_client) }}
						{{ form_row(form.manage_user) }}
						{{ form_row(form.manage_service) }}
					</div>
					<div class="flex flex-col gap-5">
						{{ form_row(form.write_factures) }}
						{{ form_row(form.write_devis) }}
						{{ form_row(form.read_devis) }}
						{{ form_row(form.read_factures) }}
						{{ form_row(form.view_stats) }}
					</div>
				</div>
				<div class="w-full flex justify-end">
					{{ form_row(form.submit) }}
				</div>
			</div>
		{{ form_end(form) }}
	</div>
{% endblock %}