{% extends 'base.html.twig' %}

{% block title %}forget password{% endblock %}

{% block body %}
	{% include 'components/home-header.html.twig' %}

	<main class="min-h-[calc(100vh-400px)] flex justify-center items-center bg-bdark-white">
		<div class="my-10 p-10 flex gap-14 flex-col items-center rounded-lg bg-white">
			<div class="flex gap-6 flex-col items-center">
				<img src="{{ asset('assets/images/billy.png') }}" alt="logo" class="w-24 aspect-square rounded-lg">
				<h1 class="text-2xl font-bold">Mot de passe oublié</h1>
			</div>

			{{ form_start(forgetPasswordForm) }}
				<div class="w-fit mx-auto flex flex-col gap-2 items-center">
						{{ form_row(forgetPasswordForm.email) }}
						<div class="mt-14">
							{{ form_widget(forgetPasswordForm.submit) }}
						</div>
					</div>
			{{ form_end(forgetPasswordForm) }}
		</div>
	</main>
	
	{% include 'components/home-footer.html.twig' %}
{% endblock %}