{% extends 'base.html.twig' %}

{% block title %}Billy - Connexion{% endblock %}

{% block body %}
	{% include 'components/home-header.html.twig' %}

	<main class="flex justify-center items-center bg-bdark-white">
		<div class="my-10 p-10 flex gap-14 flex-col items-center rounded-lg bg-white">
			<div class="flex gap-6 flex-col items-center">
				<img src="{{ asset('assets/images/billy.png') }}" alt="logo" class="w-24 aspect-square rounded-lg">
				<h1 class="text-2xl font-bold">Connexion</h1>
			</div>

			{{ form_start(userLoginForm) }}
				<div class="w-fit mx-auto flex flex-col gap-2 items-center">
					<div class="max-w-xs flex flex-col gap-2">
						{{ form_label(userLoginForm.email) }}
						{{ form_widget(userLoginForm.email) }}
						<div class="text-sm text-red-600">
							{{ form_errors(userLoginForm.email) }}
						</div>
					</div>
					<div class="max-w-xs flex flex-col gap-2">
						{{ form_label(userLoginForm.password) }}
						{{ form_widget(userLoginForm.password) }}
						<div class="text-sm text-red-600">
							{{ form_errors(userLoginForm.password) }}
						</div>
					</div>
					<div class="mt-14">
						{{ form_widget(userLoginForm.submit) }}
					</div>
				</div>
			{{ form_end(userLoginForm) }}

			<div class="flex gap-4 justify-center">
				<a href="{{ path('register_user') }}" class="text-sm text-blighter-green hover:text-bgreen">Pas encore inscrit ?</a>
				<a href="{{ path('forget-password') }}" class="text-sm text-blighter-green hover:text-bgreen">Mot de passe oublié ?</a>
			</div>
		</div>
	</main>

	{% include 'components/home-footer.html.twig' %}
{% endblock %}