{% extends 'base.html.twig' %}

{% block title %}Liste des clients{% endblock %}

{% block body %}
    <h1>Liste des clients</h1>

    {% if clients is not empty %}
        <table>
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Email</th>
                    <th>Téléphone</th>
                    <th>Activité</th>
                    <th>SIRET</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for client in clients %}
                    <tr>
                        <td>{{ client.name }}</td>
                        <td>{{ client.firstname }}</td>
                        <td>{{ client.email }}</td>
                        <td>{{ client.phone }}</td>
                        <td>{{ client.activity }}</td>
                        <td>{{ client.siret }}</td>
                        <td>
                            <a href="#">Voir</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Aucun client trouvé.</p>
    {% endif %}
{% endblock %}