{% extends 'connected.html.twig' %}

{% block title %}{{ isCreating is defined ? 'Création' : 'Modification' }} d'un client{% endblock %}

{% block body %}
<div data-controller="clientForm" data-clientform-entreprise-value="{{ isEntrprise is defined ? isEntrprise : "null" }}">
	<div class="mb-14 flex justify-between items-center">
		<h1 class="text-3xl font-semibold pb-6 dark:text-dark-white">{{ isCreating is defined ? 'Création' : 'Modification' }} d'un client</h1>
		{% if isCreating is defined %} 
			<twig:Toggle title="Entreprise" name="clientToggle" :isChecked="true"></twig:Toggle>
		{% endif %}
	</div>
	<div class="p-14 rounded-xl bg-white dark:bg-dark-light-black">
		{{ form_start(form) }}
			<div class="grid grid-cols-1 lg:grid-cols-2 gap-8">
				<div class="P-field">
					{{ form_row(form.name) }}
				</div>
				<div class="P-field">
					{{ form_row(form.firstname) }}
				</div>
				{{ form_row(form.email) }}
				{{ form_row(form.phone) }}
				<div class="E-field">
					{{ form_row(form.activity) }}
				</div>
				<fieldset 
					class="E-field"
					{{ isCreating is defined? '' : 'disabled' }} 
				>
					{{ form_row(form.siret) }}
				</fieldset>
				<div class="P-field">
					{{ form_row(form.address) }}
				</div>
				<div class="flex items-center">
					{{ form_row(form.submit) }}
				</div>
				</div>
			</div>
		{{ form_end(form) }}
	</div>
</div>
{% endblock %}