{% extends 'base.html.twig' %}

{% block title %}Modification de l'organisation{% endblock %}

{% block body %}
<header class="fixed bg-white z-10 h-20 w-[calc(100vw-256px)] ml-64 px-10 py-8 flex items-center">
	<ul class="flex gap-2 items-center text-bgrey font-semibold">
		<li>Accueil</li>
		<li>></li>
		<li>Organisations</li>
		<li>></li>
		<li class="text-blighter-grey">Modifier une organisation</li>
	</ul>
</header>
<aside class="w-64 px-10 py-5 h-screen flex flex-col bg-bdarker-green fixed">
	<a href="/dashboard" class="w-24 mx-auto mt-4 mb-9 aspect-square">
		<img src="{{ asset('assets/images/billy.png') }}" alt="logo" class="h-full rounded-lg">
	</a>
	<div class="h-full flex flex-col justify-between text-white/50">
		<nav>
			<ul class="flex flex-col gap-6">
				<li>
					<a href="#" class="flex gap-2 items-center hover:text-white">
						<span class="mdi mdi-briefcase-outline text-2xl"></span>
						Ma société
					</a>
				</li>
				<li>
					<a href="#" class="flex gap-2 items-center hover:text-white">
						<span class="mdi mdi-domain text-2xl"></span>
						Mes organisations
					</a>
				</li>
				<li class="accordion hover:cursor-pointer">
					<div class="flex gap-2 items-center hover:text-white">
						<span class="mdi mdi-domain text-2xl"></span>
						Dropdown
						<span class="mdi mdi-chevron-down"></span>
					</div>
					<ul class="content hidden mt-3 max-w-xs flex flex-col gap-2">
						<li>
							<a href="#" class="px-9 py-2 flex gap-2 items-center rounded-lg hover:text-white hover:bg-blighter-green">
								Lien 1
							</a>
						</li>
						<li>
							<a href="#" class="px-9 py-2 flex gap-2 items-center rounded-lg hover:text-white hover:bg-blighter-green">
								Lien 2
							</a>
						</li>
					</ul>
				</li>
			</ul>
		</nav>
		<a href="#" class="mx-auto flex gap-2 items-center hover:text-white">
			<span class="mdi mdi-logout text-2xl"></span>
			Se déconnecter
		</a>
	</div>
</aside>
<main class="pt-20 pl-64 min-h-screen bg-bdark-white">
	<div class="px-10 py-5">
		<h1 class="text-3xl font-semibold">Modification de l'organisation {{ organization.name }}</h1>
		
		{{ form_start(form) }}
		<div class="w-fit mx-auto my-5 flex flex-col gap-10 items-start">
			<div class="flex gap-5">
				<div class="max-w-xs flex flex-col gap-2">
					{{ form_label(form.email) }}
					{{ form_widget(form.email) }}
					<div class="text-sm text-red-600">
						{{ form_errors(form.email) }}
					</div>
				</div>
				<div class="max-w-xs flex flex-col gap-2">
					{{ form_label(form.phone) }}
					{{ form_widget(form.phone) }}
					<div class="text-sm text-red-600">
						{{ form_errors(form.phone) }}
					</div>
				</div>
			</div>
			<div class="flex gap-5">
				<div class="max-w-xs flex flex-col gap-2">
					{{ form_label(form.activity) }}
					{{ form_widget(form.activity) }}
					<div class="text-sm text-red-600">
						{{ form_errors(form.activity) }}
					</div>
				</div>
				<span>Aperçu de l'image</span>
				{% if organizationHaveImage %}
				<img class="w-[250px]" src="{{ asset('storage/images/organizations/' ~ organization.id ~ '.jpeg') }}" alt="Image">
				{% else %}
				<small>Vous n'avez pas encore de logo, ajoutez-en un !</small>
				{% endif %}
			</div>	
			<div class="flex gap-5">
				<div class="max-w-xs flex flex-col gap-2">
					{{ form_label(form.image) }}
					{{ form_widget(form.image) }}
					<div class="text-sm text-red-600">
						{{ form_errors(form.image) }}
					</div>
				</div>
			</div>	
			<div class="w-full flex justify-end">
				{{ form_widget(form.submit) }}
			</div>		
		</div>

		{{ form_end(form) }}
	</div>
</main>
{% endblock %}