{% extends 'base.html.twig' %}

{% block title %}Organization {{ organization.name }}{% endblock %}

{% block body %}

{% include 'components/header.html.twig' %}

{% include 'components/sidebar.html.twig' %}

<main class="pt-20 pl-64 min-h-screen bg-bdark-white">
	<div class="px-10 py-5">
		<h1 class="mb-14 text-3xl font-semibold">
			{{ organization.name }}
			{% if floor.user.id == organization.createdBy.id %}
				<span class="mdi mdi-crown text-3xl text-amber-500"></span>
			{% endif %}
		</h1>
		<div>Nom de l'organization : {{ organization.name }}</div>
		<div>Addresse : {{ organization.address }}</div>
		<div>Email : {{ organization.email }}</div>
		<div>Tel : {{ organization.phone }}</div>
		<div>Activité : {{ organization.activity }}</div>
		<div>Siret : {{ organization.siret }}</div>
		<div>L'organization à été créee par : {{ organization.createdBy.firstName ~ " " ~ organization.createdBy.name }}</div>
		<div>
			{% if organizationHaveImage %}
				<img class="w-[250px]" src="{{ asset('storage/images/organizations/' ~ organization.id ~ '.jpeg') }}" alt="{{ "Image" ~  " " ~ organization.name }}">
			{% else %}
				<span>Vous n'avez pas encore de logo, ajoutez-en un !</span>
			{% endif %}
		</div>
	</div>
</main>
{% endblock %}