{% extends 'connected.html.twig' %}

{% block title %}{{ organization.name }}{% endblock %}

{% block body %}
	<h1 class="mb-14 text-3xl font-semibold">
		<div class="flex flex-row items-center gap-[6px]">
			{{ organization.name }}
			{% if app.user.id == organization.createdBy.id %}
				<span class="mdi mdi-crown text-3xl text-amber-500"></span>
			{% endif %}
			{% if checkPermissionOnOrganization(app.user, 'manage_org') %}
				<a href="{{ path('app_update_organization', {organization: organization.id}) }}" title="Modifier"><span class="mdi mdi-pencil text-2xl text-gray-500"></span></a>
			{% endif %}
		</div>
	</h1>
	<div class="p-14 flex flex-col lg:flex-row gap-10 items-center rounded-xl bg-white">
		{% if vich_uploader_asset(organization, 'logoFile') %}
			<img class="w-64 aspect-square object-contain" src="{{ vich_uploader_asset(organization, 'logoFile') }}" alt="Logo de {{organization.name}}">
		{% else %}
			<div class="w-64 aspect-square bg-gray-200 rounded flex items-center justify-center">
				<span class="mdi mdi-domain text-6xl text-gray-400"></span>
			</div>
		{% endif %}
		<ul class="flex flex-col gap-4">
			<li><strong>Nom de l'organisation : </strong>{{ organization.name }}</li>
			<li><strong>Activité : </strong>{{ organization.activity }}</li>
			<li><strong>Adresse : </strong>{{ organization.address }}</li>
			<li><strong>Email : </strong><a class="underline text-blue-500" href="mailto:{{ organization.email }}" target="_blank">{{ organization.email }}</a></li>
			<li><strong>Tél : </strong>{{ organization.phone }}</li>
			<li><strong>Siret : </strong>{{ organization.siret }}</li>
			<li><strong>Ajoutée par : </strong>{{ organization.createdBy.firstName ~ " " ~ organization.createdBy.name }}</li>
		</ul>
	</div>
{% endblock %}