{% extends 'connected.html.twig' %}

{% block title %}Modifier {{ organization.name }}{% endblock %}

{% block body %}
	<h1 class="mb-14 text-3xl font-semibold">Modification de l'organisation {{ organization.name }}</h1>
	<div class="p-14 rounded-xl bg-white">
		{{ form_start(form) }}
		<div class="flex flex-col gap-10 items-start">
			<div class="flex flex-col lg:flex-row gap-5">
				{{ form_row(form.email) }}
				{{ form_row(form.phone) }}
			</div>
			<div class="flex flex-col lg:flex-row gap-5">
				{{ form_row(form.activity) }}
				{{ form_row(form.logoFile) }}
			</div>
			<div class="w-full flex justify-between items-end">
				<a href="{{ path('app_organization_get_id', { 'organization': organization.id }) }}" class="hover:text-bgreen">
					<span class="mdi mdi-arrow-left"></span> 
					Retour à l'organisation
				</a>
				{{ form_widget(form.submit) }}
			</div>		
		</div>
		{{ form_end(form) }}
	</div>
{% endblock %}