{% extends 'home.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
	<main class="flex justify-center items-center bg-bdark-white">
		<div class="my-10 p-10 flex gap-14 flex-col items-center rounded-lg bg-white">
			<div class="flex gap-6 flex-col items-center">
				<img src="{{ asset('assets/images/billy.png') }}" alt="logo" class="w-24 aspect-square rounded-lg">
				<h1 class="text-2xl font-bold">Inscription</h1>
			</div>
			
			{{ form_start(registrationForm) }}
				<div class="w-fit mx-auto flex flex-col gap-2 items-center">
					{{ form_row(registrationForm.firstName) }}
					{{ form_row(registrationForm.name) }}
					{{ form_row(registrationForm.email) }}
					{{ form_row(registrationForm.password.first) }}
					{{ form_row(registrationForm.password.second) }}
					<div class="mt-14">
						{{ form_widget(registrationForm.submit) }}
					</div>
				</div>
			{{ form_end(registrationForm) }}

			<a href="{{ path('app_login') }}" class="text-sm text-blighter-green hover:text-bgreen">Déjà inscrit ?</a>
		</div>
	</main>
{% endblock %}